p{
	color: white;
}

h2{
	color: #ffffff;
}

.background{
	background-height: 100%;
	background-repeat: no-repeat;
	background-color: #000000;
	}

.container{
	margin-top:5%;
	width: 80%;
	height:80%;
	background: #4c5e6c;
	padding-bottom: 15px;
	text-align: center;
	border: 5px inset #c0c0c0;
	border-radius: 25px;
}

#game-title{
	margin-right: 15%;
	margin-left: 15%;
	font-family: 'Marcellus SC', arial;
	font-size: 4em;
	color: #fff;
}

.answersfalse{

}

.answerstrue{

}

.timer{
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
}

#question{

}

#answers{

}

.next{

}

.kindOfBlue{
	color: #4c5e6c;
}

.green{
	color:#00FF00;
}

.gold{
	color: #FFD700;
}

.goldenRod{
	color: #DAA520;
}

.blue{
	color: #537591;
}

.teal{
	color: #20daa5;
}

.sage{
	color: #90a681;
}