p{
	color:#ffffff;
}

h2{
	color: #ffffff;
}

button{
	font-size: 1.5em;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: inherit;
	border:none;
} 

button:active{
	outline:none;
}

#audio{
	display:none;
}

.audioContainer{
	margin-top: 15px;
	text-align: center;
}

.audioContainer button{
	width:20%;
}

.audioContainer button:active{
	outline: none;
	width:20%;
}
.background{
	background-height: 100%;
	background-repeat: no-repeat;
	background-color: #000000;
	}

.container{
	margin-top:2%;
	width: 80%;
	height: 80%;
	background: #4c5e6c;
	padding-bottom: 15px;
	text-align: center;
	border: 5px inset #c0c0c0;
	border-radius: 25px;
}

#game-title{
	margin-right: 15%;
	margin-left: 15%;
	font-family: 'Marcellus SC', arial;
	font-size: 4em;
	color: #fff;
}

#timer{
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
}

#question{
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	font-family: "Marcellus 20SC:", arial;
}

#answers{
	margin-top: 15px;
}

#answers button:active{
	color: #000000;
	background-color: #ffffff;
}

.next{

}

.kindOfBlue{
	color: #4c5e6c;
}

.green{
	color:#00FF00;
}

.gold{
	color: #FFD700;
}

.goldenRod{
	color: #DAA520;
}

.blue{
	color: #537591;
}

.teal{
	color: #20daa5;
}

.sage{
	color: #90a681;
}