.background{
	background-height: 100%;
	background-repeat: no-repeat;
	background-color: #000000;
	}

.container{
	margin-top: 20px;
	width: 80%;
	height:80%;
	background: #4c5e6c;
	padding-bottom: 15px;
	text-align: center;
	border: 5px inset #c0c0c0;
	border-radius: 25px;
	
}

#game-title{
	margin-right: 15%;
	margin-left: 15%;
	font-family: 'Marcellus SC', arial;
	font-size: 4em;
	color: #fff;
	/*text-shadow:0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/
   /*background: #c0c0c0;*/
   /*border: 2px inset #000000;*/
 
}

#timer{

}

#question{

}

#answers{
	
}

.kindOfBlue{
	color: #4c5e6c;
}

.green{
	color:#00FF00;
}

.gold{
	color: #FFD700;
}

.goldenRod{
	color: #DAA520;
}

.blue{
	color: #537591;
}

.teal{
	color: #20daa5;
}

.sage{
	color: #90a681;
}